.error404{
    background:url('./static-images/404-Page.jpg');
    position:relative;
    &:before{
        position:absolute;
        content:'';
        background:rgba(0,0,0,0.5);
        width:100%;
        height:100%;
        top:0;
    }


    .error-404{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    h1{
        font-size: 47px;
        text-align: center;
        font-family: $subFont;
        color: #fff;
        font-weight: 1000;
        letter-spacing: 2px;
        z-index:10;
        @include mobile{
            font-size:27px;
            padding:0 20px;
        }
    }



    .btn--primary{
        color: #fff;
        background:$mainColor;
        z-index: 10;
        font-family:$subFont;
        transition:all 0.3s linear;
            &:hover{
                color:$mainColor;
                background:#fff;
            }
    }

    p{
        font-family: $subFont;
        color: #fff;
        z-index: 10;
        margin: 20px 0;
        text-align:center;
        padding:0 20px;
    }
}