.blog{


    p{
        font-size:12px;
        line-height:1.4;
    }
    #blog-wrap{
        margin:0 auto;
        img{
            max-height:190px;
            max-width:100%;
        }

        .cat-name{
            font-family:$mainFont;
            margin-bottom:13px;
            font-size:17px;
        }

        .blog-item{
            margin: 40px 0;
                h2{
                    font-size: 25px;
                    font-weight: bold;
                    margin: 20px 0;
                    font-family:$mainFont;
                    line-height:1.2;
                  
                }
        }
    }

    .blog-heading-wrapper{
        overflow:hidden;
        z-index: 10;
    }

    .blog-bg:before{
        content:'';
        position:absolute;
        background:rgba(0,0,0,0.6);
        width:100%;
        height:100%;

    }

    .blog-bg{
        display:flex;
        align-items: center;
        height:500px;
        position:relative;
        width:100vw;
        background:url('./static-images/anne-blog-bg.jpg');
            h2{
                font-size:44px;
                font-family: $mainFont;
                color: #fff;
                font-weight:bold;
                width:100vw;
                text-align:center;
                z-index: 1; 
                top:50px;
            }
    }

    hr{
        background: $mainColor;
        height: 2.5px;
        border-radius: 5px;
        max-width:1045px;
    }

    .latest{
        max-width: 1045px;
        margin: 0 auto;
        font-family: $mainFont;
        font-weight: bold;
        font-size: 35px;
        color: #28a745;
    }

    // Search Form

    .search-form{
        display: flex;
        justify-content: center;
        align-items:center;
    }

    .search-submit{
        box-shadow: none;
        border: none;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 20px;
        padding: 10px 15px;
        background:$mainColor;
        color:#fff;
        display:none;
    }

    .search-field{
        border: 1px solid #e8e8e8;
        padding: 10px 15p
    }

    form .screen-reader-text{
        display:none;
    }

    .cat-search-wrap{
        margin:20px;
        .btn-secondary{
            color:#000;
        }
    }

    .cat-dropdown a{
        color: $mainColor;
        margin: 12px 0;
        display: inline-block;
    }

    

    

}