.page-template-characters-page{

    article{
        height:410px;
        margin: 85px 0;
    }

    .col-lg-4{
        font-family:$subFont;
        @include mobile{
            margin-bottom:20px;
            text-align:center;
            margin: 25px 0;
        }
    }

    .site-header button, .site-header a{
        color:#000;
    }

    .show>.btn-secondary.dropdown-toggle{
        color:#000;
    }


    #main-heading{
        line-height: 38px;
        font-size: 29px;
        margin: 50px 0;
        @include mobile{
            margin-top:30px !important;
        }
    }
    h3{
        font-family:'trajan-regular-pro';
        font-size:24px;
        margin-bottom:35px;
    }

    p{
        font-size:16px;
        font-family:Arial, Helvetica, sans-serif;
        color:rgb(81, 81, 80);
        line-height:27.2px;
    }

    .character-single{
        margin: 60px 0;
        @include mobile{
            margin-top:0;
        }
    }

    section .character-quote:first-child{
        margin:55px 0;
    }

    .character-quote{
        font-family: 'trajan-regular-pro';
        font-size: 18pt;
        display:inline-block;
    }

    .c-hero__image{
        width:100%;
    }

    .col-md-4 img{
        width: 100%;
        height: auto;
    }

    header{
        position:static;
    }

    @media (max-width:990px){
        #main-heading{
            line-height: 22px;
            font-size: 15px;
            margin-top: 150px;
        }
    }

}