.site-header{
    height:72px;
    margin:0;
    .dropdown-menu{
        left:25%;
    }
}

a:hover{
    text-decoration:none;
}

em{
    font-style:italic;
}

nav{
    align-items:center;
}

.dropdown-item{
    transition:all 0.3s linear;
}

.dropdown-item:hover{
    background:#e8e8e8;
}

nav div{
    margin:0 20px;
}

.home.scrolled #logo-dark{
    opacity:1;
}

.fade-logos-wrap{
    height:40px;
}

.fade-logos-wrap{
    position:relative;
}

.fade-logos-wrap img{
    position:absolute;
}

.header-wrap{
    display: flex;
    align-items: center;
}


body .site-header a, .site-header button{
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}

.site-header a.dropdown-item{
    color: #000;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 15px;
    text-transform:uppercase;
}


.scrolled .site-header{
    background:#fff;
    position:fixed;
    top:0;
}

.scrolled.home .navigation #menu-main-menu a, .scrolled.home .navigation #menu-main-menu .sub-menu a, .scrolled .site-header button, .scrolled .site-header a{
    color:#000;
}


.scrolled .site-logo-img--dark{
    display:block;
}

.scrolled .site-logo-img--light{
    display:none;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active{
    color: #000;
    background-color: transparent;
    border:none;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active{
    color:#fff;
}

p{
    font-family:Arial, Helvetica, sans-serif;
}

.page-template-behind-scenes-page p{
    font-size: 15px;
    line-height: 30px;
    padding:20px;
}

.page-template-behind-scenes-page h3{
    padding-left:19px;
}

strong{
    font-weight:bold;
}

.show>.btn-secondary.dropdown-toggle{
    background-color: transparent;
    border-color: transparent;
    border:none;
}

@media (max-width:770px){
    .home{
        .col-lg-3.col-md-6{
            text-align:center;
            margin-bottom:40px;
        }

        .wp-image-29564 {
            width: 100%;
            height: 100%;
        }
    }
}

.scrolled .show>.btn-secondary.dropdown-toggle {
    color: #000;
}

.dropdown-menu{
    transform: translate3d(-20%, 19px, 0px) !important;
    min-width:225px;
}

//====Comparison Slider=====//

.img-comp-container {
    position: relative;
    height: 200px; /*should be the same height as the images*/
  }
  
  .img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
  }
  
  .img-comp-img img {
    display: block;
    vertical-align: middle;
    margin:0 auto;
  }
  
  .img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-color: #2196F3;
    opacity: 0.7;
    border-radius: 50%;
  }

  .img-comp-img img {
        display: block;
        vertical-align: middle;
        height: 350px;
        object-fit:cover;
        width: 500px;
    }

    .second-slider{
        flex-basis:48%;
    }

    nav div{
        margin:0;
    }

    .col-md-2{
        padding:0;
    }

    .nav-item{
        text-align:center;
    }

    .show>.btn-secondary.dropdown-toggle:focus{
        box-shadow:none;
    }

@media (max-width:990px){
    .dropdown-menu{
        transform:none !important;
        margin:0 auto;
    }

    .search-form{
        display: flex;
        justify-content: center !important;
    }
    
    .navbar-nav{
        background:#fff;
        padding-right:0;
        width: 100vw;
    }

    .site-header button, body .site-header a, .show>.btn-secondary.dropdown-toggle{
        color:#000;
    }

    .nav-item{
        padding: 15px 0;
    }

    .dropdown-toggle{
        width:100%;
        &:hover{
            color:#000;
        }
    }

    .main-logo{
        display:none;
    }

    .before-after-wrapper{
        display:block !important;
    }

    .set-1{
        margin-top: 43%;
    }
}

.fade-logos-wrap{
    margin-left:50px;
}

.splash-btn-wrap{
    height:150px;
    overflow:hidden;
    display:flex;
    padding-top: 50px;
        a{
            position:relative;
            top:200px;
            opacity:0;
            box-sizing: border-box;
            appearance: none;
            background-color: transparent;
            border: 2px solid $mainColor;
            border-radius: 0.6em;
            color: $mainColor;
            display: flex;
            align-self: center;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1;
            margin: 20px;
            text-decoration: none;
            text-align: center;
            font-weight: 700;
            &:hover{
                text-decoration:none;
            }
        }
}

.splash-btn-wrap a{
    border-color: $mainColor;
    border-radius: 0;
    color: $mainColor;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;
    
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 100%;
      background: $mainColor;
      z-index: -1;
      transition: width 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    }
    
    &:hover {
      color: #fff;
      &:after {
        width: 110%;
      }
    }
  }

  .page-template-behind-scenes-page{
      h3{
          margin-top:50px;
      }

  }

  .anne-info-wrapper{
      opacity:0;
  }
  
  .navbar-collapse{
      height:100%;
  }

  .nav-item{
      display:flex;
  }

  .navbar-nav, .nav-item{
    align-items: center;
  }

  .navbar-nav{
    width: 80%;
    justify-content: space-between;
  }

  .navbar{
      display:flex;
  }

  @media (max-width:990px){
      .navbar-nav{
          width:100%;
      }

      .navbar-collapse{
          margin-left:0 !important;
      }
  }