.home{
    h1{
        font-size: 25px;
        text-align: center;
        margin: 50px 0;
        a{
            text-decoration: underline;
            color: #000;
            text-align:center;
        }
    }
    h3{
        margin:50px 0;
    }
}