.home{

    .splash-btn-wrap{
        margin-top: 70px;
    }

    .wp-image-29564 {
        margin-left: 36px;
        max-width: 1115px;
        max-height: 301px;
    }

    nav div, nav button{
        font-size:13px;
    }
    
    .splash-btn-wrap a{
        border: 2px solid #fff;
        padding: 20px 89px;
        max-width:270px;
        color: #fff;
        border-radius: 3px;
        font-family:Arial, Helvetica, sans-serif;
        position:relative;
    }

    #logo-dark{
        opacity:0;
        transition:all 0.4s linear;
    }

    h1{
        font-size: 25px;
        text-align: center;
        margin: 50px 0;
        font-family: 'trajan-regular-pro';
        line-height: 1.5;
        a{
            text-decoration: underline;
            color: #000;
            text-align:center;
        }
    }

    h3{
        margin:50px 0;
    }

    .gazebo-text{
        font-size:20px;
        color:rgb(81, 81, 80);
        line-height:34px;
        font-family:Arial, Helvetica, sans-serif;
    }

    .collectible-cell{
        color:#474747;
        font-size:16px;
        font-family:Arial, Helvetica, sans-serif;
        text-transform:uppercase;
        text-align:center;
        opacity:0;
        transform:translate(100px)
    }

    .flickity-viewport{
        height:385px;
    }

    .collectible-cell img{
        width:100%;
        padding:30px;
        height:100%;
    }
    
    .character-slide{
        display:flex;
        justify-content: center;
        p{
            position:absolute;
            bottom:0;
            color:#fff;
            font-family:$mainFont;
        }
    }

    .character-slide img{
        height:170px;
    }

    //=========CAROUSEL CUSTOM CSS===========//

    .character-slider .carousel-cell{
        position:relative;
        max-width: 172px;
        p{
            opacity:0;
            transition:all 0.3s linear;
            text-align:center;
            width: 100%;
        }
        &:before{
            content:'';
            background:rgba(0,0,0,0);
            width: 100%;
            height: 100%;
            position:absolute;
            top:0;
            max-height: 171px;
        }
        &:hover{
            p{
                opacity:1;
            }
            &:before{
                content:'';
                background:rgba(0,0,0,0.5);
                width: 100%;
                height: 100%;
                position:absolute;
                top:0;
                max-height: 171px;
            }
        }
        

    }
}