.home{

    #logo-dark{
        opacity:0;
        transition:all 0.4s linear;
    }
    
    .scrolled #logo-dark{
        opacity:1;
    }

    h1{
        font-size: 25px;
        text-align: center;
        margin: 50px 0;
        a{
            text-decoration: underline;
            color: #000;
            text-align:center;
        }
    }

    h3{
        margin:50px 0;
    }

    .gazebo-text{
        font-size:20px;
        color:rgb(81, 81, 80);
        line-height:34px;
        font-family:Arial, Helvetica, sans-serif;
    }

    .collectible-cell{
        color:#474747;
        font-size:16px;
        font-family:Arial, Helvetica, sans-serif;
        text-transform:uppercase;
        text-align:center;
    }

    .flickity-viewport{
        height:385px;
    }

    .collectible-cell img{
        width:100%;
        padding:30px;
        height:100%;
    }

    
}