.page-template-season-1, .page-template-season-2, .page-template-season-3, .page-template-season-4,
.page-template-season-5,.page-template-season-6, .page-template-season-7{

    h1{
        margin-top: 55px;
    }
    h3{
        font-size:33px;
        font-family:$mainFont;
    }
    h4{
        font-family:$mainFont;
        font-size:24px;
    }
    .flex-wrap-season{
        display:flex;
        justify-content:space-between;
    }
    .summary-wrap{
        font-family:$subFont;
        line-height:2;
        .highlight{
            li{
                position:relatiive;
                &:before{
                    content:'»';
                    position:absolute;
                    left:0;
                }    
            }
        }
    }

    .vid-thumbnail{
        margin-bottom:30px;
    }

    .guest-list-1{
        line-height: 2;
        font-size: 21px;
    }

    .video-episode-list{
        p{
            font-family:$mainFont;
        }   
        
    }

    .video-episode-list{
        line-height:1.5;
    }

    .button-hover{
        position:relative;
        box-sizing:border-box;
        overflow:hidden;
        height:40px;
        min-width:120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border:2px solid $mainColor;
    }
    
    .button-hover a{
      transition:all .5s ease;
      z-index:2;
      position:relative;
    }

    .button-hover:hover a{
        color:#fff;
    }
    
    .eff{
      width:100%;
      height:40px;
      left:-140px;
      background:#096162;
      position:absolute;
      transition:all 0.7s ease;
      z-index:1;
    }
    
    .christmas-hover{
        max-width: 135px;
        margin: 0 auto;
        margin-bottom:30px;
    }
    
    .christmas-btn{
        margin: 0 auto;
    }
    .button-hover:hover .eff{
      left:0;
    }
    
    .show-episode{
        margin-left: 31%;
        background: transparent;
        box-shadow: none;
        border-radius: 5px;
        margin-top: 10px;
        font-size: 33px;
    }

    body .button-hover:hover a{
        color:#fff !important;
    }
}