.single{
    font-family: 'Lato', sans-serif;
    .site-header button, .site-header a{
        color:#000;
    }


    .blog-content{
        line-height: 1.5;
    }

    strong{
        font-family:$mainFont;
    }
    
    header{
        position:static;
    }
    h1{
        font-family:$mainFont;
        font-size:27px;
        font-weight: bold;
    }

    .blog-img img{
        width: 100%;
        margin: 40px 0;
        max-height: 400px;
        object-fit: cover;
    }

    .single-post-wrap{
        margin:0 auto;
    }

    h3{
        font-family: $mainFont;
        margin: 30px 0;
        text-align:center;
        font-size: 18px;
        font-weight: bold;
        border-top: 1px solid rgba(98, 92, 75, 0.3);
        padding-top: 30px;
    }

    .inner-social{
        display:flex;
        justify-content: center;
            i{
                font-size: 30px;
                margin: 13px;
                background: grey;
                width: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                height: 45px;
                color:#fff;
            }
    }

    .wpcf7-email{
        max-width:200px;
    }

    .env-wrap, .mail-wrap{
        text-align: center;
    }

    .mail-wrap{
        input{
            padding: 10px 5px;
        }
    }

    .fa-envelope-open-text{
        font-size:50px;
        margin: 25px;
    }

    .mail-wrapper{
        background: #e8e8e8;
        margin: 20px 0;
        border-bottom: 1px solid rgba(98,92,75,.3);
        border-top: 1px solid rgba(98,92,75,.3);
    }

    h4{
        font-family:$mainFont;
        margin:10px 0;
    }

    .wpcf7-submit{
        box-shadow: none;
        color: #fff;
        border: none;
        background: #27ae60;
        margin: 20px;
        padding: 10px 55px;
        font-family: $mainFont;
        font-size: 19px;
    }

    #wpcf7-f32237-p26585-o1{
        text-align:center;
    }

    .recent{
        margin:10px 0;
        font-size:12px;
    }

    .cat-item{
        font-family: $subFont;
        list-style:none;
        margin: 10px 0;
    }

    .shop-anne-btn{
        width: 100%;
        display: inline-block;
        border: 2px solid #8b8989;
        border-radius: 8px;
        text-align: center;
        padding: 19px;
        box-shadow: -6px 3px 26px 0 rgba(0,0,0,.11);
        color: #8b8989;
        font-family:$mainFont;
        transition:all 0.3s linear;
        &:hover{
            transform:scale(1.2);
        }
    }

    .single-blog-meta{
        margin-bottom:40px;
    }

    hr{
        background:$mainColor;
        width:100%vw;
    }

    .blog-content img{
        display:block;
        margin: 20px auto;
    }

    i{
        transition:all 0.3s linear;
    }

    .fa-facebook-f:hover{
        background:#4267b2;
    }

    .fa-instagram:hover{
        background:#ed4956;
    }

    .fa-twitter:hover{
        background:#1da1f2;
    }
   

}

header{
    display:none;
}